baseURL: "https://Amino52.github.io"
languageCode: "fr"
title: "Portfolio"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

enableRobotsTXT: true

#services:
  #googleAnalytics:
    #id: G-MEASUREMENT_ID
  #disqus:
    #shortname: your-disqus-shortname

pagination:
  pagerSize: 3

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: AP
      name: AP et Projets
      title: AP et Projets
      url: /Projets/
      weight: 1
    
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Portfolio"
  description: voici mon portfolio
  # staticPath: ""  # The path to serve the static files from
  favicon: "/images.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   textLinkColor: "#007bff"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     textLinkColor: "#ffffff"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Portfolio" # Brand name for the brand | default is the title variable
    disableSearch: true
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    enableSeparator: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Bienvenue sur le portfolio de"
    title: "Amine" 
    subtitle: " EL BAROUDI "
    content: "élève de première année en BTS SIO au lycée Edme Bouchardon à Chaumont"
    image: /images/photo.jpg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "CV"
      url: "monCV.pdf"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/Amino52/
        - icon: fab fa-linkedin
          url:  https://www.linkedin.com/in/amine-el-baroudi-7587882a4/
      

  # About
  about:
    enable: True	
    title: "A propos"
    image: "/images/photo.jpg"
    content: |-
      Je suis actuellement en première année de BTS SIO (Services Informatiques aux Organisations) option SISR (Solutions d'Infrastructures, Systèmes et Réseaux) au lycée Edme Bouchardon à Chaumont. Avant mon BTS, j'ai eu mon Brevet avec mention Bien au collège la Rochotte puis, mon BAC PRO SN (Systèmes Numériques) au lycée Eugène Decomble. 
      
      
    skills:
      enable: true
      title: "Voici quelques logiciels quue je maitrise"
      items:
        - "HTML"
        - "CSS"
        - "C#"
        - "sql"
        

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - company: "Indus Phone"
        companyUrl: "https://www.pagesjaunes.fr/pros/63484869"
        jobs:
          - name: " Réparation de téléphone"
            date: " 2024-2025"
            content: "J'ai fais plusieurs stages à Indus Phone, qui est une boutique de réparation de téléphone, ou j'ai appris comment diagnostiquer un appraeil, comment etre autonome et comment acceuillir la clientèle."
            info:
              content: stage
            #featuredItems:
             # fontAwesomeIcons:
              #  - icon: fa-brands fa-react
               #   url: https://react.dev/
                #  tooltip: Example tooltip content
                #- icon: fab fa-x-twitter
                 # url: https://example.com
                  # tooltip: Example tooltip content
              #customIcons:
               # - icon: /fav.png
                #  url: "https://example.com"
                 # tooltip: Example tooltip content
          #- name: "Software Developer"
           # date: "Jan 2022 - Dec 2023"
            #content: "I worked as a software developer. I worked on a project that will be used to help people find the best way to get around the city."

      - company: "Ligue de l'enseignement 52 "
        companyUrl: "https://www.ligue52.org/"
        jobs:
          - name: "Nichoir Connecté"
            date: " Novembre 2024"
            info:
              content: stage Ligue 52
            content: J'ai fait un stage a la ligue de l'enseignement de la Haute-Marne, j'avais en projet de créer un nichoir connecté; je devais installer et configurer une caméra sur un nichoir. a coté de ce projet, j'ai programmé des robots (micro:bit, maqueen V2).
           
    
  # Education
  education:
    enable: true
    title: "Parcours"
    index: false
    items:
    
      - title: "BTS SIO"
        school: 
         name: "Lycée Edme Bouchardon, Chaumont"
         url: "https://lyc-bouchardon.monbureaunumerique.fr/"
        date: "2025-2027"
        content: Brevet de Technicien Supérieur en Systèmes d'informations aux organisations en Solutions d’Infrastructures, Systèmes et Réseaux
       
      - title: "Bac pro SN"
        school: 
          name: "Lycée Eugène Decomble, Chaumont"
          url: "https://lyc-decomble.monbureaunumerique.fr/"
        date: "2022-2025"
        content: Baccalauréat Professionnel en Systèmes Numériques Mention Bien
        
      - title: "Brevet des collèges"
        school:
          name: "Collège la Rochotte, Chaumont"
          url: "https://clg-la-rochotte.monbureaunumerique.fr/"
        date: "2018-2022"
        content: Brevet des collèges Mention Bien
        featuredLink:
          enable: false
          name: "My academic record"
          url: "https://example.com"
     

  # Achievements
  achievements:
    enable: false
    # title: "Custom Name"
    items:
      - title: Google kickstart runner
        content: I solved all problems with optimal solution.
        url: https://example.com
        image: /images/achievement.jpg
      - title: Facebook Hackathon Winner
        content: Developed a product using Artificial Intelligence.
        image: /images/achievement.jpg
      - title: Hugo Profile
        content: Developed a theme and getting 1K+ downloads per month.
        url: "https://github.com/gurusabarish/hugo-profile"
        image: /images/achievement.jpg
      - title: Microsoft Imagine Runner
        content: We are developed a product which can help others.
      - title: Google Summer of Code
        content: Contributed to a open source project.
        url: https://example.com

  # projects
  projects:
    enable: true
    title: "Certifications"
    items:
      
      - title: PIX
        content: Certification sur les connaissances informatiques reéalisée en 2022
        image: /images/pix.jpeg
        featured:
          name: Pix
          link: https://app.pix.fr/mes-certifications/6374118
        badges:
          - "Pix"
     
      - title: CNIL
        content: certification sur la protection des données a caracteres personnelles fait en 2025
        image: /images/cnil.png
        featured:
          name: CNIL	
          link: https://atelier-rgpd.cnil.fr/
        badges:
          - "CNIL"
          - "RGPD"
          - "MOOC"
       
            
      - title: SecNumAcadémie
        content: certification à la cybersécurité faite en 2026
        image: /images/ANSSI.png	
        featured:
          name: ANSSI
          link: https://secnumacademie.gouv.fr/
        badges:
          - "MOOC"
          - "ANSSI"
          - "Cybersécurité"
          
      - title: Habilitation électrique
        content: Habilitation aux dangers électriques niveau B2 réalisée en 2024
        image: /images/habilec.webp
        featured:
          name: Habilec
          link: https://www.2jprocess.com/habilec/
        badges:
          - "habilec7"
          - ""
          - ""
 

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: N'hesitez pas à me contacter par mail ci-dessous
    btnName: Envoyer un mail
    btnLink: mailto:elbaroudiamine86@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/Amino52/
      linkedin: https://www.linkedin.com/in/amine-el-baroudi-7587882a4/
      instagram: https://www.instagram.com/amiine.brd/
      
      

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "EL BAROUDI Amine"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: " 2 Jan, 2006"
    articleList: " 2 Jan, 2006"
    articleRecent: " 2 Jan, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
